<!-- <header>
  <div class="jumbotron jumbotron-fluid" id="banner">
    <div class="parallax text-center" style="">
      <div class="parallax-pattern-overlay">
        <div class="container text-center" id="size-banner" style="border: 1px solid #343434">
          <h2 class="display-2"></h2>
          <h3 class="banner-tag-line">Coming soon. Work in progress</h3>
          
        </div>
      </div>
    </div>
  </div>
</header> -->
<!-- Not used at the moment hence commented -->
<!--<section class="footer" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p>
          MIT License - Copyright &copy; 2015 - 2016 Vivek
        </p>
        <br>
      </div>
    </div>
  </div>
</section>-->

<!-- Original version above this line-->


<div class="jumbotron-fluid" id="">
	<div class="parallax text-center">
		<div class="parallax-pattern-overlay">
			<div class="container text-center homeContainer" id="" style="border: 1px solid #343434;">
				<div>
					<div class="sideBar">
						<div class="sidebarTitle">
              <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler pull-xs-right hidden-sm-up" type="button" aria-controls="bd-main-nav"
                aria-label="Toggle navigation">
                {{menuIcon}}
              </button>
            </div>
            
            <div class="sidebarList">
                <div id = "group1" class="navGroup">
                    <ul class="navList">
                        <li>
                          Home
                        </li>
                        <li>
                            Programs
                        </li>
                        <li>
                            Account Assignment
                        </li>
                      </ul>
                </div>
                <div id = "group2" class="navGroup">
                    <ul class="navList">
                        <li>
                            Simulate Substitution
                        </li>
                        <li>
                            Reports
                            <ul>
                                <li>Report 1
                                  </li>
                                  <li>Report 2
                                    </li>
                                    <li>Report 3
                                      </li>  
                            </ul>
                        </li>
                        
                      </ul>
                </div>
                <div id = "group3" class="navGroup">
                    <ul class="navList">
                        <li>
                            Settings
                        </li>
                        <li>
                            Admin
                        </li>
                        
                      </ul>
                </div>
              

            </div>
					</div>
					<div class="rightNav">
            <div>
              <div id="searchContainer">
                <div class="searchDiv">
                     <form accept-charset="utf-8" action="/s/ref=nb_sb_noss" class="nav-searchbar" method="GET" name="site-search" role="search">
                      <div class="nav-left">
                        <div class="search-scope">
                        <select class="searchOptions">
                          <option>Accounts</option>
                          <option>Profile</option>
                          <option>Programs</option>
                          <option>Item</option>
                        </select>
                      </div>
                    </div>
                      <div class="nav-right">
                        <div class="search-submit">

                        </div>
                      </div>
                      <div class="nav-fill">
                         
                          <div class=".nav-search-field .nav-input ui-widget">
                              <!-- <label for="tags">Tags: </label> -->
                              <input id="tags" class="nav-input">
                            </div>
                            <div id="suggestions">

                            </div>
                        
                      </div>
                      
                    </form>
                </div>
                  

              </div>
            </div>
          
					</div>
        </div>
       
   		</div>
		</div>
	</div>
</div>